.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-content {
  width: 25%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-header {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.register-body {
  padding: 20px;
}

.register-body form > div {
  margin-bottom: 15px;
}

.register-body label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.register-name {
  padding-right: 20px;
}
.register-number {
  padding-right: 20px;
}
.register-email {
  padding-right: 20px;
}
.register-password {
  padding-right: 20px;
}

.register-body input{
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.register-body button[type="submit"] {
  width: 50%;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 1px solid #008CBA;
  cursor: pointer;
}

.register-body button[type="submit"]:hover {
  background-color: #008CBA;
  color: white;
}

.submit {
  text-align: center;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

small {
  color: red;
}
