.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 25%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.login-header h2 {
  margin: 0;
}

.login-body {
  padding: 20px;
}

.login-body form {
  margin-bottom: 0;
}

mat-form-field {
  width: 100%;
}

.login button[type="submit"] {
  width: 50%;
  padding: 10px 20px;
  background-color: white; 
  color: black; 
  border: 1px solid #008CBA;
  cursor: pointer;
}

.login button[type="submit"]:hover {
  background-color: #008CBA;
  color: white;
}
.submit {
  text-align: center;
}
.login-register {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-register p {
  margin: 10px;
}