<div class="cart-header">
    <h1>Products in your cart are:</h1>
    <!--<div class="cart_container" *ngFor="let product of products">
        <div>
            <h2>{{product.id+". "}}{{product.name}}</h2>
            <p>{{product.description}}</p>
            <img src="{{product.imageUrl}}" alt="{{product.name}}" class="img">
            <p>{{quantity*(product.unitPrice)}}</p>
            <button (click)="subtract()">-</button>
            <button>{{quantity}}</button>
            <button (click)="add()">+</button>
        </div>
    </div> -->
    <table border="1">
        <thead>
            <tr>
                <th style="width: 20%;">Product Image</th>
                <th style="width: 30%;">Product</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td >
                    <img src="{{product.imageUrl}}" alt="{{product.name}}" class="img">
                </td>
                <td>
                    <h2>{{product.name}}</h2>
                    <p>{{product.description}}</p>
                    <p>UnitPrice: ₹{{product.unitPrice}}</p>
                </td>
                <td>
                    <h1>Qty:</h1>
                    <button (click)="product.quantity=subtract(product.quantity,product.unitPrice)" class="primary-button">-</button><span> {{product.quantity}} </span>
                    <button (click)="product.quantity=add(product.quantity,product.unitPrice)" class="primary-button">+</button>
                    <div class="btn-padding">
                        <button class="danger-button">Remove Item</button>
                    </div>
                    <h3 class="btn-padding">Subtotal: ₹{{product.quantity*(product.unitPrice)}}</h3>
                </td>
              </tr>
        </tbody>
    </table>
    <div class="BuyingOption">
        <h3>Total Price: ₹{{TotalQty}}</h3>
        <button class="primary-button">Procced TO Buy</button>
    </div>
</div>
