<div class="content-outer-container">
    <!-- HEADER -->
        <app-navbar></app-navbar>
    
    <!-- SIDEBAR MENU -->
    <app-product-category></app-product-category>

    <div class="content-inner-container">
        <!-- MAIN CONTENT -->
        <div class="page-container">
            <!-- <app-product-details></app-product-details> -->
            <!-- <app-product-list></app-product-list> -->
            <!-- <app-cart-view></app-cart-view> -->
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>

<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->

<!-- FOOTER -->
<div class="footer-container">
    <div class="footer-content">
        <app-footer></app-footer>
    </div>
</div>