.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    height: 80px;
    padding: 0px 40px;
    background-color: black;
}

.nav-logo a{
    color: white;
    text-decoration: none;
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 30px
}

.nav-search input{
    width: 600px;
    height: 50px;
    border-radius: 15px;
    border: none;
    padding-left: 20px;
}
input:focus{
    outline:0
}

.nav-list {
    display: flex;
    gap: 40px;
}

.login a {
    color: white;
    text-decoration: none;
}

.cart a {
    color: white;
    text-decoration: none;
}
.cart-icon {
    color: white;
    font-size: 25px;
}
.search-icon {
    color: white;
    font-size: 25px;
}
.icon-button {
    cursor: pointer;
}