<div class="container" *ngIf="show_navbar">
    <div class="nav-logo">
        <a routerLink="/products"><span>eShop</span></a>
    </div>

    <div class="nav-search">

        <input type="text" name="search"  #myInput
            placeholder="search for a product..."
            (keyup.enter)="doSearch(myInput.value)">
        
        <div class="icon-button" (click)="doSearch(myInput.value)">
            <fa-icon class="search-icon" [icon]="searchIcon" ></fa-icon>
        </div>

    </div>

    <div class="nav-list">
        <div class="login">
            <a href="#">login/register</a>
        </div>
        <div class="cart" >
            <a href="#" matBadge="0" matBadgePosition="before" matBadgeColor="warn">
                <mat-icon>shopping_cart</mat-icon>
                <span>cart</span>
            </a>
        </div>
    </div>
</div>