<div class="card">
    <div class="card-header">
      <h2>{{form_name}} Form</h2>
    </div> 
    <div class="card-body">
    <form (ngSubmit)="submitForm(myForm)" #myForm="ngForm" novalidate>
    <div class="card-name" *ngIf="isLogin">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="formData.name" required #name="ngModel">
        <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
          <div *ngIf="name.errors?.['required']">Name is required.</div>
        </div> -->
      </div>
  
    <div class="card-email">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="formData.email" required #email="ngModel">
      <!-- <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['email']">Invalid email format.</div>
      </div> -->
    </div>
  
    <div class="card-number" *ngIf="isLogin">
      <label for="number">Mobile:</label>
      <input type="text" id="number" name="number" [(ngModel)]="formData.number" required #number="ngModel">
      <!-- <div *ngIf="number.invalid && (number.dirty || number.touched)" class="error">
        <div *ngIf="number.errors?.['required']">Number is required.</div>
      </div> -->
    </div>
  
    <div class="card-pswd">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="formData.password" required #password="ngModel">
      <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <div *ngIf="password.errors?.['required']">Password is required.</div>
      </div> -->
    </div>
    <div class="submit">
      <button type="submit" >Submit</button>
    </div>
    </form>
    <div class="Login">
      <button (click)="login(myForm)">Login</button>
      <button (click)="signUp(myForm)">SignUp</button>
    </div>
</div>
</div>