<div class="main-content">
    <div class="image-container">
        <img src="{{ product.imageUrl }}" alt="product image" />
    </div>
    <div class="details-container">
        <div class="heading">
            <h1>{{ product.name }}</h1>
        </div>
        <div class="description">
            <h3>Description</h3>
            <p>{{ product.description }}</p>
        </div>
        <div class="rating">
            <p>Ratings {{ product.ratings }} ⭐⭐⭐⭐⭐</p>
        </div>
        <div class="price">
            <p>Price: {{ product.unitPrice | currency : "INR" }}</p>
        </div>
        <button class="btn">Add to cart</button>
        <div class="back-button">
            <a routerLink="/products">Back to Products</a>
        </div>
    </div>
</div>