<div class="main-content">
    <div class="image-container">
        <img src="../../../assets/laptop.jpeg" alt="product image">
    </div>
    <div class="details-container">
        <ng-container>
            <div class="heading">
                <h1>{{product.name}}</h1>
            </div>
            <div class="description">
                <h3>Description</h3>
                <p>{{product.description}}</p>
            </div>
            <div class="rating">
                <p>Ratings {{product.rating}} ⭐⭐⭐⭐⭐</p>
            </div>
            <div class="price">
                <p>Price: {{product.unitPrice | currency: 'INR'}}</p>
            </div>
            <button class="btn">Add to cart</button>
            <a routerLink="/products">Back to Products</a>
        </ng-container>
    </div>
</div>